<section>
  <div
    class="bg-primary position-absolute h-100 top-0 left-0 zindex-100 col-lg-6 col-xl-6 zindex-100 d-none d-lg-flex flex-column justify-content-end"
    data-bg-size="cover" data-bg-position="center">
    <!-- Cover image -->
    <%= image_tag "backgrounds/newpass.jpeg",  alt: "image cover", class: "img-as-bg" %>
    <!-- Overlay text -->
    <div class="row position-relative zindex-110 p-5">
      <div class="col-md-8 text-center mx-auto">
        <span class="badge badge-danger badge-pill">Partager - Créer - Aider</span>
        <h5 class="h5 text-white mt-3">Les meilleurs projets open-source vous attendent</h5>
        <p class="text-white opacity-8">
          Connectez-vous et participez vous aussi à l'open-source
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex flex-column">
    <div class="row align-items-center justify-content-center justify-content-lg-end min-vh-100">
      <div class="col-sm-7 col-lg-6 col-xl-6 py-6 py-lg-0">
        <div class="row justify-content-center">
          <div class="col-11 col-lg-10 col-xl-6">
            <div>
              <div class="mb-5">
                <h6 class="h3 mb-1">Créez votre nouveau mot de passe</h6>
                <p class="text-muted mb-0">Choisissez votre nouveau mot de passe.</p>
              </div>
              <span class="clearfix"></span>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <%= f.hidden_field :reset_password_token %>
                <div class="form-group">
                  <%= f.label "Votre nouveau mot de passe", class:"form-control-label" %>
                  <div class="input-group input-group-merge">
                    <%= f.password_field :password, autofocus: true, type: "password",class: "form-control", placeholder: "Votre nouveau mot de passe" %>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fe fe-key"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label "Votre confirmation de mot de passe", class:"form-control-label" %>
                  <div class="input-group input-group-merge">
                    <%= f.password_field :password_confirmation, type: "password", class: "form-control", placeholder: "Votre confirmation de mot de passe" %>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fe fe-key"></i></span>
                    </div>
                  </div>
                </div>
                <div class="mt-4 actions">
                  <%= f.submit "Modifier mon mot de passe", class: "btn btn-block btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>