<section class="slice py-5 py-lg-7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-6 order-md-2 mb-5 mb-md-0">
        <!-- Card -->
        <div class="card border-0 shadow-lg zindex-100 mb-0">
          <figure>
            <img alt="Image placeholder" src="https://source.unsplash.com/SyYmXSDnJ54/" class="card-img">
          </figure>
          <div class="card-img-overlay d-flex justify-content-end">
            <div class="text-center">
              <a href="https://www.youtube.com/watch?v=zodT9bCdIiI" class="btn btn-white btn-icon-only rounded-circle shadow-sm hover-scale-110" data-fancybox="">
                <span class="btn-inner--icon text-sm">
                  <i class="fe fe-play text-primary btn-inner--icon text-sm"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- Decoration -->
        <div class="w-75 position-absolute bottom-n5 right-n5 rotate-180">
          <%= image_tag "svg/shapes/bubble-2.svg", class:"svg-inject fill-secondary" %>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 order-md-1 pr-md-5">
        <!-- Surtitle -->
        <h6 class="">- Construisez, Partagez, Soutenez</h6>
        <!-- Heading -->
        <h1 class="h1 mb-4">
          Devenez un acteur de l'<strong>Open Source</strong>.
        </h1>
        <!-- Text -->
        <p class="lead text-muted">
          Découvrez les meilleurs projets Open Source, votez pour vos projets préférés, soutenez les développeurs à travers des dons.
        </p>
        <!-- Buttons -->
        <div class="mt-5">
          <a href="#" class="btn btn-primary">
            Les projets
          </a>
          <%=link_to "Le concept", about_index_path, class:"btn btn-neutral btn-icon d-none d-lg-inline-block"%>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg delimiter-top delimiter-bottom">
  <div class="container">
    <div class="row mb-6 justify-content-center text-center">
      <div class="col-lg-8 col-md-10">
        <span class="badge badge-primary badge-pill">
          Notre vision
        </span>
        <h3 class="mt-4">Promouvoir les développeurs et l'Open Source à travers des <span class="text-warning typed" id="typed-strings" data-type-this="dons, feedbacks, votes"></span> </h3>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <%= image_tag "svg/icons/Apps.svg", class:"svg-inject img-fluid" %>
          </div>
        </div>
        <h5>Boostez votre visibilité</h5>
        <p class="text-muted mb-0">En tant que développeur ou porteur de projet Open Source, donnez de la visibilité à vos compétences et récoltez des dons.</p>
      </div>
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <%= image_tag "svg/icons/Ballance.svg", class:"svg-inject img-fluid" %>
          </div>
        </div>
        <h5>Accédez à une communauté</h5>
        <p class="text-muted mb-0">Partagez avec une communauté de développeurs passionnés par l'Open Source, et découvrez de nouveaux talents.</p>
      </div>
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <%= image_tag "svg/icons/Book.svg", class:"svg-inject img-fluid" %>
          </div>
        </div>
        <h5 class="">Soutenez l'Open Source</h5>
        <p class="text-muted mb-0">À travers vos dons, vos feedbacks, et vos votes, vous aidez des développeurs à se rémunérer, à innover et à devenir plus visible.</p>
      </div>
    </div>
  </div>
</section>

<div class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-5">
              <!-- 2FA options -->
              <div class="card">
                <div class="card-header">
                  <!-- Title -->
                  <h5 class="h6 mb-0">Les meilleurs projets de la semaine</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <% if @projects.length > 0 %>
                    <% @projects.sort_by{ |project| -project.project_upvotes.size }.each do |project| %>
                      <li class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <%= link_to image_tag("https://images.unsplash.com/photo-1545579133-99bb5ab189bd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80.png", :alt => "Image placeholder", :class => "avatar rounded-circle"), project_path(project) %>
                          </div>
                          <div class="col ml-n2">
                            <h6 class="text-sm mb-0">
                              <%= link_to project.name, project_path(project)%>
                            </h6>
                            <p class="card-text small text-muted">
                              <%= project.short_description %>
                            </p>
                          </div>
                          <h1 class="col-md d-none d-md-block action-item mr-1">
                            <%= project.number_of_developpers_on_project %>
                            développeurs, créé le
                            <%= project.created_at.strftime('%d-%m-%Y')  %>
                          </h1>
                          <div class="col-auto">
                            <div class="actions text-right ml-3">
                              <h1 class="action-item mr-2">
                                <%= project.project_upvotes.size %>
                                votes
                              </h1>
                            </div>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<div class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-5">
              <!-- 2FA options -->
              <div class="card">
                <div class="card-header">
                  <!-- Title -->
                  <h5 class="h6 mb-0">Les meilleurs projets du mois</h5>
                  <!-- Text -->
                  <p class="text-sm mb-0">
                    Keep your account secure by enabling two-factor authentication.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <%= image_tag "svg/misc/google-auth.svg", class:"img-fluid", width: "40px" %>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="text-sm mb-0">
                          Google Auth
                        </h6>
                        <p class="card-text small text-muted">
                          iPhone
                        </p>
                      </div>
                      <div class="col-md d-none d-md-block">
                        <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                      </div>
                      <div class="col-auto">
                        <div class="actions text-right ml-3">
                          <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                            <i data-feather="trash-2"></i>
                          </a>
                          <div class="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                              <i data-feather="more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <%= image_tag "svg/misc/key.svg", class:"img-fluid", width: "40px" %>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="text-sm mb-0">
                          Backup Codes
                        </h6>
                      </div>
                      <div class="col d-none d-md-block">
                        <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                      </div>
                      <div class="col-auto">
                        <div class="actions text-right ml-3">
                          <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                            <i data-feather="trash-2"></i>
                          </a>
                          <div class="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                              <i data-feather="more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <%= image_tag "svg/misc/key.svg", class:"img-fluid", width: "40px" %>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="text-sm mb-0">
                          Go Open Source
                        </h6>
                      </div>
                      <div class="col d-none d-md-block">
                        <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                      </div>
                      <div class="col-auto">
                        <div class="actions text-right ml-3">
                          <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                            <i data-feather="trash-2"></i>
                          </a>
                          <div class="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                              <i data-feather="more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<div class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-5">
              <!-- 2FA options -->
              <div class="card">
                <div class="card-header">
                  <!-- Title -->
                  <h5 class="h6 mb-0">Les meilleurs projets depuis le début</h5>
                  <!-- Text -->
                  <p class="text-sm mb-0">
                    Keep your account secure by enabling two-factor authentication.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <%= image_tag "svg/misc/google-auth.svg", class:"img-fluid", width: "40px" %>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="text-sm mb-0">
                          Google Auth
                        </h6>
                        <p class="card-text small text-muted">
                          iPhone
                        </p>
                      </div>
                      <div class="col-md d-none d-md-block">
                        <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                      </div>
                      <div class="col-auto">
                        <div class="actions text-right ml-3">
                          <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                            <i data-feather="trash-2"></i>
                          </a>
                          <div class="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                              <i data-feather="more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <%= image_tag "svg/misc/key.svg", class:"img-fluid", width: "40px" %>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="text-sm mb-0">
                          Backup Codes
                        </h6>
                      </div>
                      <div class="col d-none d-md-block">
                        <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                      </div>
                      <div class="col-auto">
                        <div class="actions text-right ml-3">
                          <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                            <i data-feather="trash-2"></i>
                          </a>
                          <div class="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                              <i data-feather="more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <%= image_tag "svg/misc/key.svg", class:"img-fluid", width: "40px" %>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="text-sm mb-0">
                          Go Open Source
                        </h6>
                      </div>
                      <div class="col d-none d-md-block">
                        <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                      </div>
                      <div class="col-auto">
                        <div class="actions text-right ml-3">
                          <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                            <i data-feather="trash-2"></i>
                          </a>
                          <div class="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                              <i data-feather="more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
