<!-- Project -->
<section class="slice py-5 bg-section-fade">
  <div class="container">

      <!-- Video Player -->
      <div class="embed-responsive embed-responsive-16by9" style="border-radius:20px">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
      </div>
      <!---->

      <div class="row mt-5">
        <div class="col-xl-8 col-lg-12 col-md-12 col-12 mb-4 mb-xl-0">
          <div class="card rounded-lg p-1">
            <!-- Card body -->
            <div class="card-body">
              <div>
                <div class="tab-pane fade active show" role="tabpanel" aria-labelledby="description-tab">
                  <div class="d-flex">
                    <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.qGsS32Tn5mqZx5fVIBxtSAAAAA%26pid%3DApi&f=1", class: "avatar avatar-lg mr-4" %>
                    <h2 class="text-center text-md-left">
                      <%= @project.name %>
                    </h2>
                  </div>
                  <div class="d-flex flex-wrap mt-2">
                    <% @categories&.each do |category| %>
                      <%= link_to "#{category.name}", category_path(category), class: "badge badge-soft-primary badge-pill mx-2"%>
                    <% end%>
                  </div>
                  <hr class="divider divider-fade"/>
                  <div id="description" class="mb-5">
                    <h4 class="mb-2">Description</h4>
                    <p>
                      <%= @project.short_description %>
                    </p>
                    <h4 class="mb-2 mt-3">Fonctionnalités</h4>
                    <p>
                      <%= @project.long_description %>
                    </p>
                    <h4 class="mb-2">Languages</h4>
                    <div class="d-flex flex-wrap mb-3">
                      <% @languages&.each do |language| %>
                        <%= link_to "#{language.name}", language_path(language), class: "badge badge-soft-primary badge-pill mx-2"%>
                      <% end%>
                    </div>
                  </div>
                  <hr />
                  <div class="row d-flex">
                    <%= link_to "#{@project.link_of_github}", type: "button", class: "btn btn-icon-label mx-2" do %>
                      <span class="btn-inner--icon">
                        <i class="fe fe-code"></i>
                      </span>
                      <span class="btn-inner--text">Code source</span>
                    <% end %>
                    <button type="button" class="btn btn-twitter btn-icon-label mx-2">
                      <span class="btn-inner--icon">
                        <i class="fe fe-twitter"></i>
                      </span>
                      <span class="btn-inner--text">Twitter</span>
                    </button>
                    <button type="button" class="btn btn-facebook btn-icon-label mx-2">
                      <span class="btn-inner--icon">
                        <i class="fe fe-facebook"></i>
                      </span>
                      <span class="btn-inner--text">Facebook</span>
                    </button>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12 col-12">
          <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-animated btn-primary btn-animated-x mx-3">
                <span class="btn-inner--visible">Soutenir</span>
                <span class="btn-inner--hidden">
                    <i class="fe fe-heart"></i>
                </span>
            </button>
            <button type="button" class="btn btn-animated btn-soft-success btn-animated-y mx-3">
              <span class="btn-inner--visible">Voter</span>
                <span class="btn-inner--hidden">
                    <i class="fe fe-arrow-up"></i>
                </span>
            </button>
          </div>
          
          <div class="col-md-6 col-lg flex-lg-fill mt-3">
            <div class="card">
              <div class="card-header">
                <span class="h6">
                  Collaborateurs
                </span>
              </div>
              <div class="card-body py-3">
                <div class="row mx-n1">
                  <% @collaborators.first(10).each do |collaborator| %>
                    <div class="col-auto text-center my-1 px-1">
                      <%= link_to user_path(collaborator), class: "avatar rounded-circle hover-scale-105", title: "#{collaborator.first_name} #{collaborator.last_name}" do %>
                        <%= image_tag "https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" %>
                      <% end %>
                    </div>
                  <% end %>
                  <% if @collaborators.size > 10 %>
                    <div class="col-auto text-center my-1 px-1">
                      <%= link_to "+#{@collaborators.size - 10}","#", class: "avatar bg-primary text-white rounded-circle border border-lg border-soft-primary hover-scale-105" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- Carousel -->
            <div id="carousel" class="carousel slide mx-auto mt-5" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "https://images.unsplash.com/photo-1573804633927-bfcbcd909acd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1399&q=80", class: "d-block w-100 myImg" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "https://images.unsplash.com/photo-1594663653925-365bcbf7ef86?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80", class: "d-block w-100 myImg" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "https://images.unsplash.com/photo-1592179900427-1631dd95b04a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1474&q=80", class: "d-block w-100 myImg" %>
                </div>
              </div>
              <%= link_to "#carousel", class: "carousel-control-prev", role: "button", data: { slide: "prev" } do %>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              <% end %>
              <%= link_to "#carousel", class: "carousel-control-next", role: "button", data: { slide: "next" } do %>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              <% end %>
            </div>
            <!---->
            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- The Close Button -->
              <span class="close">&times;</span>

              <!-- Modal Content (The Image) -->
              <%= image_tag "", class: "modal-content", id: "modal-img" %>

              <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider divider-fade"/>

      <h6 class="mb-4">Ce projet, c'est avant tout</h6>
      <div class="row mx-3">
        <div class="col-lg-6 px-2">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="112px" height="148px" viewBox="0 0 112 148" version="1.1" class="injected-svg svg-inject" style="width:50px;height:50px">
                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs>
                  <linearGradient x1="49.75%" y1="101.0328%" x2="49.75%" y2="46.2048%" id="linearGradient-1-10">
                    <stop stop-color="#4988FD" offset="0%"></stop>
                    <stop stop-color="#3973F4" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Conference">
                    <path d="M111.5,8.1 L111.5,64.7 C111.5,68.7 108.3,72 104.4,72 L8,72 C4.1,72 0.9,68.7 0.9,64.7 L0.9,8.1 C0.9,4.1 4.1,0.8 8,0.8 L104.3,0.8 C108.3,0.8 111.5,4 111.5,8.1 Z" id="Shape" fill="#C5DCFA" fill-rule="nonzero"></path>
                    <path d="M108.4,10.3 L108.4,62.5 C108.4,66.2 105.4,69.3 101.7,69.3 L10.7,69.3 C7,69.3 4,66.3 4,62.5 L4,10.3 C4,6.6 7,3.6 10.7,3.6 L101.7,3.6 C105.4,3.5 108.4,6.5 108.4,10.3 Z" id="Shape" fill="#DFECFD" fill-rule="nonzero"></path>
                    <path d="M112,115.5 C101,119.4 93.6,119.2 82.7,115.5 L83.7,103.7 C84,99.6 87.9,96.4 92.5,96.4 L102.1,96.4 C106.7,96.4 110.6,99.6 110.9,103.7 L112,115.5 Z" id="Shape" fill="#4988FD" fill-rule="nonzero"></path>
                    <circle id="Oval" fill="#6097FD" fill-rule="nonzero" cx="97.3" cy="85.2" r="8"></circle>
                    <path d="M32.5,115.5 C21.5,119.4 14.1,119.2 3.2,115.5 L4.2,103.7 C4.5,99.6 8.4,96.4 13,96.4 L22.6,96.4 C27.2,96.4 31.1,99.6 31.4,103.7 L32.5,115.5 Z" id="Shape" fill="#4988FD" fill-rule="nonzero"></path>
                    <circle id="Oval" fill="#6097FD" fill-rule="nonzero" cx="17.7" cy="85.2" r="8"></circle>
                    <path d="M72.6,145 C61.6,148.9 54.2,148.7 43.3,145 L44.3,133.2 C44.6,129.1 48.5,125.9 53.1,125.9 L62.7,125.9 C67.3,125.9 71.2,129.1 71.5,133.2 L72.6,145 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
                    <circle id="Oval" fill="#FFFFFF" fill-rule="nonzero" cx="57.8" cy="114.7" r="8"></circle>
                    <path d="M88.3,130.2 L24,130.2 C22.5,130.2 21.5,128.8 21.9,127.4 L36.4,79.2 C36.7,78.3 37.5,77.7 38.5,77.7 L73.8,77.7 C74.8,77.7 75.6,78.3 75.9,79.2 L90.4,127.4 C90.8,128.8 89.7,130.2 88.3,130.2 Z" id="Shape" fill="#DFECFD" fill-rule="nonzero"></path>
                    <path d="M72.6,145 C61.6,148.9 54.2,148.7 43.3,145 L44.3,133.2 C44.6,129.1 48.5,125.9 53.1,125.9 L62.7,125.9 C67.3,125.9 71.2,129.1 71.5,133.2 L72.6,145 Z" id="Shape" fill="#4988FD" fill-rule="nonzero"></path>
                    <circle id="Oval" fill="#6097FD" fill-rule="nonzero" cx="57.8" cy="114.7" r="8"></circle>
                    <g id="Group" transform="translate(27.000000, 11.000000)">
                      <g id="Shape">
                        <path d="M57.9,58.2 L1.2,58.2 C0.6,57.6 0.3,56.8 0.4,55.9 C0.9,52.5 1.6,51.7 6.8,49.7 L8.1,49.2 C10.5,48.3 13.6,47.1 17.7,45.3 C18.7,44.9 19.4,44.2 19.8,43.2 C20,42.7 20.2,42.1 20.2,41.5 L20.2,33.7 C20.1,33.5 19.9,33.4 19.8,33.2 C19.1,32.2 18.7,31 18.6,29.8 L17.9,29.5 C15.9,30 16,27.8 15.5,23.7 C15.3,22 15.6,21.6 16.3,21.4 L16.9,20.5 C13,11.7 15,6.3 18.8,4.3 C17.5,1.5 17.5,0.5 17.5,0.5 C17.5,0.5 25.6,1.9 28.4,1.3 C32,0.6 37.4,1.4 39.5,6.2 C42.9,7.5 44.2,9.7 44.5,12 C45,15.7 42.9,19.7 42.5,21.3 C42.5,21.4 42.6,21.4 42.6,21.5 C43.1,21.8 43.3,22.2 43.1,23.7 C42.6,27.6 42.7,30 40.7,29.5 L38.9,32.6 C38.8,33 38.8,33.1 38.8,33.3 C38.7,33.9 38.8,35 38.8,41.5 C38.8,42.3 39,43 39.4,43.6 C39.8,44.3 40.5,44.9 41.3,45.2 C41.3,45.2 41.3,45.2 41.4,45.2 C41.4,45.2 41.4,45.2 41.4,45.2 C46,47.1 49.4,48.4 51.8,49.4 C57.2,51.6 58.1,52.2 58.6,55.8 C58.7,56.8 58.4,57.6 57.9,58.2 Z" fill="#4988FD" fill-rule="nonzero"></path>
                        <path d="M42.6,21.3 C42.8,20.3 42.3,19.1 42,18.2 C41.9,18.1 41.9,17.9 41.8,17.8 C40.2,14.7 36.7,13.4 33.5,13.2 C25,12.8 24.2,14.4 21.6,12 C22.4,13.2 22.5,15.2 21.2,17.6 C20.3,19.3 18.6,20.1 17.1,20.6 C13.2,11.8 15.2,6.4 19,4.4 C17.7,1.6 17.7,0.6 17.7,0.6 C17.7,0.6 25.8,2 28.6,1.4 C32.2,0.7 37.6,1.5 39.7,6.2 C43.1,7.5 44.4,9.7 44.7,12 C45,15.7 43,19.7 42.6,21.3 Z" fill="#3973F4" fill-rule="nonzero"></path>
                        <path d="M7.1,49.7 C7.5,49.5 7.9,49.4 8.4,49.2"></path>
                        <path d="M57.9,58.2 L54.4,58.2 C55.8,55.4 54.9,52.6 51.8,49.4 C57.2,51.6 58.1,52.2 58.6,55.8 C58.7,56.8 58.4,57.6 57.9,58.2 Z" fill="#3973F4" fill-rule="nonzero"></path>
                        <path d="M39.5,43.7 L39.5,45.2 L19.9,45.2 L19.9,43.2 C20.1,42.7 20.3,42.1 20.3,41.5 L20.3,33.7 C20.2,33.5 20,33.4 19.9,33.2 L19.9,32.7 C20.3,33.4 20.9,34.1 21.5,34.6 L27.6,38.9 C29,40.1 31.1,40.1 32.6,39 L38.3,33.8 C38.5,33.6 38.7,33.5 38.9,33.3 C38.8,33.9 38.9,35 38.9,41.5 C38.8,42.4 39.1,43.1 39.5,43.7 Z" fill="url(#linearGradient-1-10)" fill-rule="nonzero"></path>
                      </g>
                      <path d="M14.1,48.6 C14.1,48.6 14.2,48.6 14.2,48.6 C14.1,48.6 14.1,48.6 14.1,48.6 L13.4,48.6 L14.1,48.6 Z" id="Shape" fill="#4988FD" fill-rule="nonzero"></path>
                      <path d="M15,48 C15.1,47.9 15.1,47.8 15.1,47.7 C15.1,47.9 15.1,48 15,48 Z" id="Shape" fill="#4988FD" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </g>
                </svg>
              </div>
              <p class="d-block h5 mt-3 text">Une équipe dévouée</p>
              <p class="text-bg text-muted">Sur ce projet, <strong class="text-primary"><%= @project.number_of_developpers_on_project %></strong> développeuses et développeurs travaillent au quotidien pour améliorer sans cesse la qualité de votre outil</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-2">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="141px" height="110px" viewBox="0 0 141 110" version="1.1" class="injected-svg svg-inject" style="width:50px;height:50px">
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Apps" fill-rule="nonzero">
                      <path d="M31,0.9 L13,0.9 C6,0.9 0.4,6.6 0.4,13.5 L0.4,31.5 C0.4,38.5 6.1,44.1 13,44.1 L31,44.1 C38,44.1 43.6,38.4 43.6,31.5 L43.6,13.5 C43.6,6.6 37.9,0.9 31,0.9 Z" id="Shape" fill="#6097FD"></path>
                      <path d="M31,56.6 L13,56.6 C6,56.6 0.4,62.3 0.4,69.2 L0.4,87.2 C0.4,94.2 6.1,99.8 13,99.8 L31,99.8 C38,99.8 43.6,94.1 43.6,87.2 L43.6,69.2 C43.6,62.3 37.9,56.6 31,56.6 Z" id="Shape" fill="#6097FD"></path>
                      <path d="M86.7,0.9 L68.7,0.9 C61.7,0.9 56.1,6.6 56.1,13.5 L56.1,31.5 C56.1,38.5 61.8,44.1 68.7,44.1 L86.7,44.1 C93.7,44.1 99.3,38.4 99.3,31.5 L99.3,13.5 C99.3,6.6 93.6,0.9 86.7,0.9 Z" id="Shape" fill="#2767F4"></path>
                      <path d="M86.7,56.6 L68.7,56.6 C61.7,56.6 56.1,62.3 56.1,69.2 L56.1,87.2 C56.1,94.2 61.8,99.8 68.7,99.8 L86.7,99.8 C93.7,99.8 99.3,94.1 99.3,87.2 L99.3,69.2 C99.3,62.3 93.6,56.6 86.7,56.6 Z" id="Shape" fill="#6097FD"></path>
                      <path d="M141,54.4 L141,94.2 C141,102.9 133.9,110 125.2,110 L99,110 C96.4,110 93.8,109.1 91.8,107.4 C85.6,102.2 72.3,90.7 69.9,87 C69.9,87 69.9,86.9 69.9,86.9 C69.2,85.8 68.7,84.6 68.7,83.2 L68.7,59.5 C75.8,59.5 81.6,65.3 81.6,72.4 L81.6,82 L83.9,82 L83.9,25.7 C83.9,22.1 86.8,19.2 90.4,19.2 C94,19.2 96.9,22.1 96.9,25.7 L96.9,53.1 L99.1,53.1 L99.1,43.9 C99.1,40.3 102,37.4 105.6,37.4 C109.2,37.4 112.1,40.3 112.1,43.9 L112.1,53.2 L114.6,53.2 L114.6,48.7 C114.6,45.4 117.3,42.7 120.6,42.7 C123.9,42.7 126.6,45.4 126.6,48.7 L126.6,53.3 L129.3,53.3 C129.8,50.5 132.2,48.3 135.2,48.3 C138.3,48.4 141,51.1 141,54.4 Z" id="Shape" fill="#DFECFD"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <p class="d-block h5 mt-3">Du temps investi</p>
              <p class="text-bg text-muted">Sur ce projet, chaque développeuse et développeur consacre environ <strong class="text-primary"><%= @project.daily_time_spent_on_project_per_developper %>h</strong> par jour à son développement et son maintient</p>
            </div>
          </div>
        </div>
      </div>  
                
        <!-- Chart + Stats -->
        <div class="row mx-3">
          <div class="col-lg-12">
            <div class="card card-fluid">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="custom-control custom-radio">
                      <input type="checkbox" class="custom-control-input" id="checkChartLegendRefunds" onchange="ApexOrdersChart.toggleSeries(this)" value="Rejected" checked>
                      <label class="custom-control-label h6 text-sm lh-200 text-muted" for="checkChartLegendRefunds">Statistiques</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-2 pb-0 px-2">
                <!-- Chart -->
                <div id="apex-orders" data-height="200"></div>
              </div>
              <div class="card-body pt-0">
              <!-- Stats -->
              <div class="row mx-md-n2">
                  <div class="col-md-6 px-md-2">
                    <div class="card bg-secondary border-0 shadow-none mb-md-0">
                      <div class="p-2 d-flex align-items-center">
                        <div>
                          <div class="icon icon-shape bg-white text-primary shadow">
                            <i class="fe fe-money"></i>
                          </div>
                        </div>
                        <div class="pl-3">
                          <h6 class="text-muted text-xs font-weight-light mb-0">Un investissement mensuel estimé à</h6>
                          <span class="h6 font-weight-bolder mb-0"><%= @project.value_of_project %>€</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 px-md-2">
                    <div class="card bg-secondary border-0 shadow-none mb-md-0">
                      <div class="p-2 d-flex align-items-center">
                        <div>
                          <div class="icon icon-shape bg-white text-primary shadow">
                            <i class="fe fe-line-chart"></i>
                          </div>
                        </div>
                        <div class="pl-3">
                          <h6 class="text-muted text-xs font-weight-light mb-0">Un montant total levé de</h6>
                          <span class="h6 font-weight-bolder mb-0"><%= @project.money_earned %>€</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mx-5 mb-3">
                <div class="w-80">
                  <div class="progress progress-sm shadow-none">
                    <div class="progress-bar bg-success" role="progressbar" style=<%="width:#{@project.money_earned *  100 / @project.value_of_project}%"%> aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col px-0 text-right">
                  <p class="h6 text-sm text-success"><%= @project.money_earned * 100 / @project.value_of_project %>%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider divider-fade"/>

      <!-- Comments -->
      <div class="mt-5">
        <h6 class="mb-4">Commentaires</h6>
        <% @comments&.each do |comment| %>
          <div class="media media-comment my-4">
            <%= image_tag "https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", alt:"Image placeholder", class: "rounded-circle shadow mr-4", style: "width:58px" %>
            <div class="media-body">
              <div class="media-comment-bubble left-top">
                <h6 class="mt-0"><%= "#{comment.user.first_name && comment.user.first_name} #{comment.user.last_name && comment.user.last_name}" %></h6>
                <p class="text-sm lh-160"><%= comment.content %></p>
                <div class="icon-actions">
                  <%= link_to "#", class: "love active" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                      <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                    </svg> 
                    <span class="text-muted">10 likes</span> 
                  <% end %>
                  <div class="display_answers" id=<%="#{comment.id}"%> style="cursor:pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                      <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                    </svg> 
                    <span class="text-muted"><%= comment.comment_answers.size %> réponses</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id=<%="answers-#{comment.id}"%> style="display:none">
            <% comment&.comment_answers.each do |answer| %>
              <div class="media media-comment ml-auto" style="width:95%">
                <%= image_tag "https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", alt:"Image placeholder", class: "rounded-circle shadow mr-4", style: "width:58px" %>
                <div class="media-body">
                  <div class="media-comment-bubble left-top">
                    <h6 class="mt-0"><%= "#{answer.user.first_name && answer.user.first_name} #{answer.user.last_name && answer.user.last_name}" %></h6>
                    <p class="text-sm lh-160"><%= answer.content %></p>
                    <div class="icon-actions">
                      <%= link_to "#", class: "love active" do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg> 
                        <span class="text-muted">10 likes</span> 
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div>
              <% if current_user %>
                <% @comment = comment %>
                <div class="media media-comment align-items-center mt-4 ml-auto" style="width:95%">
                  <%= image_tag "https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", alt:"Image placeholder", class: "rounded-circle shadow mr-4", style: "width:58px" %>
                  <div class="media-body">
                    <%= render partial: "comment_answers/form", locals: {comment: @comment} %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if current_user %>
          <hr class="divider divider-fade">
          <div class="media media-comment align-items-center mt-3">
            <%= image_tag "https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", alt:"Image placeholder", class: "rounded-circle shadow mr-4", style: "width:58px" %>
            <div class="media-body">
              <%= render partial: "comments/form" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</section>

<%= javascript_include_tag 'carousel' %>
<%= javascript_include_tag 'comment_answer' %>