<header class="dark" id="header-main">
  <% if cookies[:theme] == "dark" %>
    <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-transparent" id="navbar-main">
  <% else %>
    <nav class="navbar navbar-main navbar-expand-lg navbar-light bg-transparent" id="navbar-main">
  <% end%>
    <div class="container">
      <button class="navbar-toggler order-lg-2 ml-n3 ml-lg-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
        <div class="position-relative">
          <%= link_to "Promoove.io", root_path,class: "navbar-brand order-lg-1" %>
        </div>
        <% if cookies[:theme] == "dark" %>
          <%= link_to "🌞", root_path(theme: "light"), class: "switch-logo" %>
        <% else %>
          <%= link_to "🌛", root_path(theme: "dark"), class: "switch-logo" %>
        <% end %>
        <div class="navbar-nav align-items-lg-center d-lg-flex ml-lg-auto">
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <%=link_to "Les catégories", categories_path,class:"nav-link"%>
          </li>
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <%=link_to "À propos", root_path,class:"nav-link"%>
          </li>
        </div>
        <ul class="navbar-nav align-items-lg-center d-lg-flex ml-lg-auto">
          <% if user_signed_in? %>
            <%=link_to "Mon profil", user_path(current_user), class:"nav-link"%>
            <%=link_to "Créer un projet", new_project_path, class:"nav-link"%>
            <%= link_to "Se déconnecter", destroy_user_session_path, class: "nav-link", method: :delete  %>
          <%else%>
            <%=link_to "S'inscrire", new_user_registration_path, class:"nav-link"%>
            <%=link_to "Se connecter", new_user_session_path, class:"nav-link"%>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
</header>
