<!-- Header -->
<header class="" id="header-main">
  <!-- Navbar -->
  <% if cookies[:theme] == "dark" %>
    <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-transparent" id="navbar-main">
  <% else %>
    <nav class="navbar navbar-main navbar-expand-lg navbar-light" id="navbar-main">
  <% end %>
    <div class="container">
      <!-- Brand -->
      <div class="position-relative">
        <%= link_to "promoove.io", root_path,class: "navbar-brand order-lg-1" %>
      </div>
      <!-- Toggler -->
      <button class="navbar-toggler order-lg-2 ml-n3 ml-lg-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-overlay order-lg-3" id="navbar-main-collapse">
        <!-- Toggler -->
        <div class="position-relative">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-close mr-3"></i>
          </button>
        </div>
        <!-- Dark mode -->
        <% if cookies[:theme] == "dark" %>
          <%= link_to "🌞", root_path(theme: "light"), class: "switch-logo" %>
        <% else %>
          <%= link_to "🌛", root_path(theme: "dark"), class: "switch-logo" %>
        <% end %>
        <!-- Main navigation -->
        <ul class="navbar-nav ml-lg-auto mr-3">
          <!-- Landings menu -->
          <li class="nav-item nav-item-spaced">
            <%=link_to "Les catégories", categories_path, class:"nav-link"%>
          </li>
          <li class="nav-item nav-item-spaced" data-toggle="hover">
            <%=link_to "À propos", root_path, class:"nav-link"%>
          </li>
        </ul>
        <!-- Right navigation -->
        <ul class="navbar-nav ml-lg-auto">
          <!-- Auth -->
          <% if user_signed_in? %>
          <li class="nav-item nav-item-spaced" data-toggle="hover">
            <%=link_to "Mon profil", user_path(current_user), class:"nav-link"%>
          </li>
          <li class="nav-item nav-item-spaced" data-toggle="hover">
            <%=link_to "Créer un projet", new_project_path, class:"nav-link"%>
          </li>
          <li class="nav-item nav-item-spaced" data-toggle="hover">
            <%=link_to "Se déconnecter", destroy_user_session_path, class:"nav-link", method: :delete  %>
          </li>
          <%else%>
          <li class="nav-item nav-item-spaced" data-toggle="hover">
            <%=link_to "S'inscrire", new_user_registration_path, class:"nav-link"%>
          </li>
          <li class="nav-item nav-item-spaced" data-toggle="hover">
            <%=link_to "Se connecter", new_user_session_path, class:"nav-link"%>
          </li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
</header>