<!DOCTYPE html>
<html>
  <head>
    <title>Promoove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <% if cookies[:theme] == 'dark' %>
      <%= stylesheet_link_tag 'application_dark' , media: 'all' %>
      <% else %>
      <%= stylesheet_link_tag 'application' , media: 'all' %>
    <% end %>

  </head>

  <body>
    <%= javascript_include_tag 'toast' %>
    <% unless controller_name == "sessions" || controller_name == "registrations" || controller_name == "passwords" %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= render 'layouts/flash' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
